 #menu_left{
  width: 201px;
  background:rgba(56, 54, 53,0.7);
  height: 471px;
  ul{
      padding-top: 5px;
      li{
      width: 201px;
      height: 83px;
      line-height: 33px;
      color: #ffffff;
      }
      h3{
        line-height: normal;
        font-size: 14px;
        font-weight:400;
        margin: 5px,0 0 0;
        float: left;
        margin-left: 5px;
        // color: #ffffff;
      }
      i{
        display: block;
        float: right;
        margin-right: 15px;
        font: 400 9px/14px consolas;
        margin-top: 7px;
        cursor: pointer;
        // color: #ffffff;
      }
      p{
        line-height: 24px;
        text-indent: 0;
        width: 165px;
        margin-left: 12px;
        height: 50px;
        overflow: hidden;
        a{color: #ffffff}
        em{font-style: normal}
      }
  }
  .lastpt{
    margin-left: 15px;
  }
  ul li:hover{
    color:#333333;
    background: #ffffff;
    a{
      color:#333333;
    }
    i{
      display: none;
    }
  }
}
