@charset "utf-8";
@import "header";
@import "footer";
@import "menu_left";
@mixin left($value:0px) {
  float:left;
  margin-right:$value;
}
*{
  margin: 0;
  padding: 0;
}
html,body{
  width: 100%;
}
li{
  list-style: none;;
}
body{
  font-size: 12px;
  font-family: '微软雅黑';
  background:#f6f6f6;
}
a{
  text-decoration: none;
  
}
#topcontent a:hover{
    color:#FF5B01;
  }
.wrapper{
  width: 1210px;
  margin: 0 auto;
}
.clear{
  clear: both;
  margin: 0;
  padding: 0;
}
#leftnav{
  position: fixed;
  z-index: 10;
  width: 36px;
  background-color: #777777;
  left: 94.6px; 
  display: block;
}
#banner{
  // height: 100px;
  background:lightcoral;
  position: absolute;
  // top: 169px;
  height: 471px;
  // z-index: 2;
  width: 100%;
  overflow: hidden;
}
#main_content{
  width:1210px;
  margin: 0 auto;
  overflow: hidden;
  &:after{
    content: "";clear: both;display: block;height: 0;overflow: hidden;visibility: hidden;
  }
  .typical_user{
    height:50px;
    background:#ddd;
  }
  .select_brands{
    height:50px;
    background:lightgreen;
  }
  .floors{
    width:1210px;
    margin: 0 auto;
    height:200px;
    background:lightyellow;
  }
  .adv{
    height:50px;
    background:green;
  }

}
#main_menu{
  width:1210px;
  height:471px;
  position: absolute;
  top:169px;
  z-index: 2;

}
#menu_left,#menu_center,#menue_right{
  @include left();
}
#menu_right{
  width: 200px;
  position: absolute;
  right: 0;
  top:0;
  height: 471px;
  background: rgba(255, 255, 255, 0.95) none repeat scroll 0 0 !important;
  .row1{
    height: 120px;
    background: yellow;
  }
  .row2{
    height: 200px;
    background: #FF5B01;
  }
  .row3{
    height: 151px;
    background: lightseagreen;
  }
}
#leftnav{
  text-align: center;
  .left_navbtn{
    padding: 10px 5px;
    display: block;
    line-height: 14px;
    text-align: center;
    color: #fefefe;
    transition: color .1s;
  }
}