@charset "utf-8";
@import "header";
@import "footer";
@import "menu_left";
@mixin left($value:0px,$right:0px) {
  float:left;
  margin-left:$value;
  margin-right:$right;
}
html,body{
  width: 100%;
}
li{
  list-style: none;;
}
body{
  font-size: 12px;
  font-family: '微软雅黑';
  background:#f6f6f6;
}
a{
  text-decoration: none;
  color: #333333;
  
}
#topcontent a:hover{
    color:#FF5B01;
  }
#main_content{
  a:hover{
    color:#FF5B01;

  }
}
.wrapper{
  width: 1210px;
  margin: 0 auto;
}
.clear{
  clear: both;
  margin: 0;
  padding: 0;
}
#leftnav{
  position: fixed;
  z-index: 10;
  width: 36px;
  background-color: #777777;
  left: 94.6px; 
  display: block;
  .leftnav_item{
    width:36px;
    border-top:1px solid #b1aaaa;
    &:hover{
      background:#fe2400;
      border-top-color: #fe2400;
    }
    .topbtn_arrow{
      display: block;
      width: 0;
      height: 0;
      margin: auto;
      border-style: solid;
      border-width: 4px;
      border-color: #5e4a4a #5e4a4a #fff;
    }
  }
  .leftnav_item_top{
    height: 42px;
    text-align: center;
    background: #5e4a4a;
  }
}
#banner{
  // height: 100px;
  background:lightcoral;
  position: absolute;
  // top: 169px;
  height: 471px;
  // z-index: 2;
  width: 100%;
  overflow: hidden;
}
#main_content{
  width:1210px;
  margin: 0 auto;
  // overflow: hidden;
  &:after{
    content: "";clear: both;display: block;height: 0;overflow: hidden;visibility: hidden;
  }
  .select_sort{
    margin-top:30px;
  }
  .select_brands{
    margin-top:30px;
  }
  .floors{
    width:1210px;
    margin: 0 auto;
    height:200px;
    background:lightyellow;
  }
  .adv{
    background:green;
  }

}
// 精选品类
.select_sort{
  // 品类底部
  .sort_foot{
    height:507px;
    // background: lightyellow;
    .sort_left{
      @include left();
      width: 462px;
      overflow: hidden;
      .left_t{
        height: 247px;
        margin-bottom:13px;
      }
      .left_f{
        height: 247px;
      }
    }
    .sort_right{
      @include left(10px);
      width: 738px;
      ul{
        width: 100%;
        li{
          width: 240px;
          height: 250px;
          @include left(0,6px);
          margin-bottom: 10px;
        }
      }
    }
  }
}
.sort_top{
  height: 40px;
  margin-bottom: 10px;
  line-height: 40px;
  span{
    padding-left: 10px;
    font-size: 16px;
    font-family: '微软雅黑';
    color: #6a6868;
  }
  .more{
    a{
      height: 40px;
      line-height: 40px;
      font-weight: bold;
      color: #6a6868;
    }
    
  }
}
// 精选品类图标
.icon{
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  color: #000;
  background: url(../images/selece_sort.png);
  background-repeat: no-repeat;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
}
#brandsicon{
  background: url(../images/brandsicon.png) no-repeat;
  background-size: 100% 100%;
}
// ----------------------------------------
.select_brands{//精选品牌
  overflow: hidden;
  .brands_foot{
    background: pink;
  }
  .brands_left{
    @include left();
    width: 202px;
    height: 299px;
    background: url(../images/brandsbj.png);
    .brandstext{
      width: 172px;
      margin: 13px;
      height: 270px;
      border: 2px solid #fff;
      text-align: center;
    }
  } 
  .brands_center{
    width: 840px;
    height: 299px;
    background:black;
    @include left();
    margin-left: 4px;
  }
  .brands_right{
    @include left();
    a{display: block;}
    img{
      display: block;
    }
  }  
}
#main_menu{
  width:1210px;
  height:471px;
  position: absolute;
  top:169px;
  z-index: 2;

}
#menu_left,#menu_center,#menue_right{
  @include left();
}
#menu_right{
  width: 200px;
  position: absolute;
  right: 0;
  top:0;
  height: 471px;
  background: rgba(255, 255, 255, 0.95);
  .row1{
    height: 120px;
    .touxiang{
      @include left();
      width: 60px;
      height: 60px;
      margin: 10px 0 0 0;
      img{margin-left: 10px;}
    }
    .gerenxinxi{
      @include left();
      margin: 15px 0 0 20px;
      width: 111px;
      float: left;
      font-family: '微软雅黑';
      font-size: 12px;
      color: #999999;
      line-height: 21px;
      overflow: hidden;
    }
    .loginregin{
    height: 30px;
    padding-top: 0px;
    margin: 10px 0 0 13px;
    span{
      display: inline-block;
      border:1px solid;
      padding: 1px 2px 1px 1px;
      width: 80px;
      line-height: 20px;
      text-align: center;
      color: #FF5B01;
      border-color: #FF5B01;
      background: #ffffff;
      border-width: 1px;
      border-radius: 3px;
      &:hover{
        color:#ffffff;
        background-color: #FF5B01;
      }
    }
    }
    
  }
  .row2{
    height: 200px;
    border-bottom:  1px solid #e6e6e6;
  }
  .row3{
    height: 150px;
  }
}
#leftnav{
  text-align: center;
  .left_navbtn{
    padding: 10px 5px;
    display: block;
    line-height: 14px;
    text-align: center;
    color: #fefefe;
    transition: color .1s;
  }
}
.row2_tab{
  // box-sizing: border-box;
  padding-left: 2px;
  width: 100%;
  height: 20px;
  font-family: '微软雅黑';
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  li{@include left();}
  .li1{
    width:30%;
    padding: 0 2px;
    text-align: center;
    &:hover{
      cursor: pointer;
      border-bottom:1px solid #FF5B01;
    }
  }
}
.row3{
  .smallbox{
   text-align: center;
   margin-top:8px;
   div{
    line-height: 42px;
   }
  }
  .lb{
    float:left;
    margin-left:30px;
  }
  .rb{
    float: right;
    margin-right: 30px;
  }
  .text{
    color:#FF5B01;
    font-size:16px;
    width:48px;
    height:48px;
    background: url(../images/circle.png) no-repeat 3px 0px;
  }
}
//广告区
.adv{
  width:1519px;
  margin-left: -154.5px;
  .advbox{
    margin: 0 auto;
    width: 1210px;
    height: 140px;
    background-color: #e0e0e0;
    ul{
      width: 100%;
      height: 100%;
    }
    li{
      float: left;
      width: 25%;
      height: 100%;
      &:hover{
        background: rgba($color: #000000, $alpha:0.5);
      }
      a{
        display: inline-block;
        width: 100%;
        height: 100%;
      }
      
      img{
        width: 100%;
        height:100%;
      }
    }
    
  }
}
