@charset "utf-8";
@import "header";
@import "footer";
@mixin left($value:0px,$right:0px) {
  float:left;
  margin-left:$value;
  margin-right:$right;
}
html,body{
  width: 100%;
}
li{
  list-style: none;;
}
body{
  font-size: 12px;
  font-family: '微软雅黑';
  background:#f6f6f6;
}
a{
  text-decoration: none;
  color: #333333;
  &:hover{
    color:#FF5B01;
  }
}
#topcontent a:hover{
    color:#FF5B01;
  }
.wrapper{
  width: 1210px;
  margin: 0 auto;
}
#head-fixed{
  position: fixed;
  top:0;
  height: 60px;
  z-index: 99;
  width: 100%;
  overflow: hidden;
  background-color: #ffffff;
  opacity: 0.95;
  border-bottom:2px solid #0374c4;
  display: none;
  .hf-container{
    width: 1210px;
    margin: 0 auto;
    height: 100%;
  }
  .hf-logobox{
    margin-top:7px;
    margin-right: 175px;
    width: 160px;
    height: 30px;
    line-height: 30px;
    a{
      display: block;
      width: 100%;
    }
    img{
      display: block;
      width: 100%;
    }
  }
  .hf-searchbox{
    padding-top:5px;
  }
}
.clear{
  clear: both;
  margin: 0;
  padding: 0;
}
#leftnav{
  position: fixed;
  z-index: 10;
  width: 36px;
  background-color: #777777;
  left: 94.6px; 
  top:120px;
  display: block;
  .leftnav_item{
    width:36px;
    border-top:1px solid #b1aaaa;
    cursor: pointer;
    // &:hover{
    //   background:#fe2400;
    //   border-top-color: #fe2400;
    // }
    .topbtn_arrow{
      display: block;
      width: 0;
      height: 0;
      margin: auto;
      border-style: solid;
      border-width: 4px;
      border-color: #5e4a4a #5e4a4a #fff;
    }
  }
  .leftnav_item_active{
    background:#fe2400;
    border-top-color: #fe2400;
  }
  .leftnav_item_top{
    height: 42px;
    text-align: center;
    background: #5e4a4a;
  }
}

#menu_content_box {
  .allsort{
    visibility: hidden;
  }
  #menu_content{
    display: block;
  }
}

#banner{
  // height: 100px;
  position: absolute;
  top: 170px;
  height: 471px;
  z-index: 2;
  width: 100%;
  overflow: hidden;
}
.lubo{
  clear: both;
  .lubo_box{
    position: relative;
    width: 100%;
    height: 471px;
      li{
      position: absolute;
      left: 0px;
      top:0px;
      width: 100%;
      height: 100%;
      background:50% 50% no-repeat;
      a{
        width: 100%;
        height: 100%;
        display: block;
      }
    }
  } 
}
.cir_box{
  width: 200px;
  height: 5px;
  overflow: hidden;
  position: absolute;
  z-index: 100;
  li{
    background:#ffffff;
    float: left;
    height: 5px;
    width:30px;
    margin: 0 5px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    cursor: pointer;
  }
  .cir_on{
    height: 5px;
    background: #333333;
  }
}
.lubo_btn{
  font-size:100px;
  color: #dddddd;
  .left_btn{
    position:absolute;
    height:100px;
    width: 100px;
    line-height: 100px;
    background: pink;
    left: 55px;
    top:200px;
    cursor: pointer;
    text-align: center;
  }
  .right_btn{
    position:absolute;
    height:100px;
    line-height: 80px;
    width:100px;
    background: pink;
    left: 1365px;
    top:200px;
    cursor: pointer;
    text-align: center;
  }
}
#main_content{
  width:1210px;
  margin: 0 auto;
  // overflow: hidden;
  &:after{
    content: "";clear: both;display: block;height: 0;overflow: hidden;visibility: hidden;
  }
  .select_sort{
    margin-top:30px;
  }
  .select_brands{
    margin-top:30px;
  }
  .floors{
    width:1210px;
    margin: 0 auto;
  }
  .adv{
    
  }

}
// 精选品类
.select_sort{
  // 品类底部
  .sort_foot{
    height:507px;
    // background: lightyellow;
    .sort_left{
      @include left();
      width: 462px;
      overflow: hidden;
      .left_t{
        height: 247px;
        margin-bottom:13px;
      }
      .left_f{
        height: 247px;
      }
    }
    .sort_right{
      @include left(10px);
      width: 738px;
      ul{
        width: 100%;
        overflow:hidden;
        li{
          width: 240px;
          height: 250px;
          @include left(0,6px);
          margin-bottom: 10px;
        }
      }
    }
  }
}
.sort_top{
  height: 40px;
  margin-bottom: 10px;
  line-height: 40px;
  span{
    padding-left: 10px;
    font-size: 16px;
    font-family: '微软雅黑';
    color: #6a6868;
  }
  .more{
    a{
      height: 40px;
      line-height: 40px;
      font-weight: bold;
      color: #6a6868;
    }
    
  }
}
// 精选品类图标
.icon{
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  color: #000;
  background: url(../images/selece_sort.png);
  background-repeat: no-repeat;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
}
#brandsicon{
  background: url(../images/brandsicon.png) no-repeat;
  background-size: 100% 100%;
}
// ----------------------------------------
// -------------/精选品牌/---------------
.select_brands{
  overflow: hidden;
  .brands_foot{
    background: pink;
  }
  .brands_left{
    @include left();
    width: 202px;
    height: 299px;
    background: url(../images/brandsbj.png);
    .brandstext{
      width: 172px;
      margin: 13px;
      height: 270px;
      border: 2px solid #fff;
      text-align: center;
    }
  } 
  .jingxuan{
    margin: 45px 0 0 0;
    font-family: '微软雅黑';
    font-size: 18px;
    color: #fff;
  }
  .pinpaihui {
    margin: 17px 0 0 0px;
    font-family: '微软雅黑';
    font-size: 30px;
    line-height: 50px;
    color: #fff;
    font-weight: bold;
    height: 50px;
  }
  .jiantou {
    margin: 25px 0 0 0;
    font-family: 微软雅黑;
    font-size: 18px;
    color: #fff;
  }
  .chamore {
    margin:30px auto 0;
    width: 140px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #fff;
    a{
      color:#ffffff;
    }
  }
  // ---------------------------
  .brands_center{
    width: 840px;
    height: 299px;
    @include left();
    margin-left: 4px;
    overflow: hidden;
  }
  .brandswrap{
    height: 100%;
    width: 100%;
    position: relative;
    .change{
      position: absolute;
      bottom: 0px;
      right: 0px;
      width: 134px;
      height: 95px;
      background-color: #fff;
      background: rgba(255, 255, 255, 0.5);
      -moz-opacity: 0.5;
      filter: Alpha(opacity=50);
      z-index: 1;
    }
    .brandhuanyipi {
      position: absolute;
      bottom: 0px;
      right: 0px;
      margin-left: 35px;
      margin-top: 34px;
      position: relative;
      width: 68px;
      height: 28px;
      color: #fff;
      line-height: 28px;
      text-align: center;
      background-color: #928c8e;
      display: block;
      z-index: 99;
      -moz-opacity: 1;
      opacity: 1;
      filter: Alpha(opacity=100);
    }
  }
  .brandsfull{
    width: 4200px;
    position: absolute;
    left: -840px;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    ul{
      float: left;
      width: 840px;

    }

  }
  // -----------------------------------------------------
  .brands_right{
    @include left();
    a{display: block;}
    img{
      display: block;
    }
  }  
}
// 无缝链接
.brandsfull{
  ul{
    li{
      margin-right: 6px;
      margin-bottom: 6px;
      width: 134px;
      height: 95px;
      background: #fff;
      position: relative;
      float: left;
      &:hover{
        .brandsfudong {
          display: block;
        }
      }
    }
  }
  .brandimg {
    width: 120px;
    height: 43px;
    overflow: hidden;
    margin-top: 18px;
    margin-left: 7px;
    text-align: center;
    display: table;
    a{
      display: table-cell;
      vertical-align: middle;
    }
    img{
      vertical-align: middle;
      width: 120px;
      height: 30px;
    }
    .brandName{
      margin-top: 12px;
      color: #666666;
    }
  }
  .brandsfudong {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 1px solid #de0539;
    background-color: #fff;
    background: rgba(255, 255, 255, 0.5);
    -moz-opacity: 0.5;
    filter: Alpha(opacity=50);
    z-index: 1;
    display: none;
    .brandlinkfd {
      margin-left: 25px;
      margin-top: 30px;
      position: relative;
      width: 88px;
      height: 25px;
      color: #fff;
      line-height: 25px;
      text-align: center;
      background-color: #de0539;
      border-radius: 25px;
      display: block;
      z-index: 99;
      -moz-opacity: 1;
      opacity: 1;
      filter: Alpha(opacity=100);
    }
  }
}
// -----------------------------
// 主菜单
#main_menu{
  width:1210px;
  height:471px;
  position: absolute;
  top:169px;
  // z-index: 2;

}
#menu_left,#menu_center,#menue_right{
  @include left();
}
#menu_left{
  position: absolute;
  left: 0;
  top: 0;
  z-index:9;
}
#menu_right{
  width: 200px;
  position: absolute;
  right: 0;
  top:0;
  z-index:9;
  height: 472px;
  background: rgba(255, 255, 255, 0.95);
  .row1{
    height: 120px;
    .touxiang{
      @include left();
      width: 60px;
      height: 60px;
      margin: 10px 0 0 0;
      img{margin-left: 10px;}
    }
    .gerenxinxi{
      @include left();
      margin: 15px 0 0 20px;
      width: 111px;
      float: left;
      font-family: '微软雅黑';
      font-size: 12px;
      color: #999999;
      line-height: 21px;
      overflow: hidden;
    }
    .loginregin{
    height: 30px;
    padding-top: 0px;
    margin: 10px 0 0 13px;
    span{
      display: inline-block;
      border:1px solid;
      padding: 1px 2px 1px 1px;
      width: 80px;
      line-height: 20px;
      text-align: center;
      color: #FF5B01;
      border-color: #FF5B01;
      background: #ffffff;
      border-width: 1px;
      border-radius: 3px;
      &:hover{
        background-color: #FF5B01;
        a{
          color:#ffffff;
        }
        
      }
    }
    }
    
  }
.admain{
  height:30px;
  text-align: center;
  a{
    display: inline-block;
    border: 1px solid;
    margin-top:10px;
    padding: 1px 2px 1px 1px;
    width: 80px;
    line-height: 20px;
    text-align: center;
    color: #999999;
    border-color: #999999;;
    background: #ffffff;
    border-width: 1px;
    border-radius: 3px;
    &:hover{
     color: #FF5B01;
     border-color:#FF5B01;
    }
  }
}
  .row2{
    height: 200px;
    border-bottom:  1px solid #e6e6e6;
  }
  .row3{
    height: 150px;
  }
}
#leftnav{
  text-align: center;
  display: none;
  .left_navbtn{
    padding: 10px 5px;
    display: block;
    line-height: 14px;
    text-align: center;
    color: #fefefe;
    transition: color .1s;
  }
}
.row2_tab{
  // box-sizing: border-box;
  padding-left: 2px;
  width: 100%;
  height: 20px;
  font-family: '微软雅黑';
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  li{@include left();}
  .li1{
    width:30%;
    padding: 0 2px;
    text-align: center;
  }
  .row2active{
    cursor: pointer;
    border-bottom:1px solid #FF5B01;
  }
}
.zixunbox{
  margin: 10px;
  text-align: center;
  .zixun{
    li{
      width: 160px;
      // list-style-type:square;;
    }
    a{
      color: #999999;
    }
  }
  li{
    a:hover{
      color: #0076cd;
    }
  }
}
.row3{
  .smallbox{
   text-align: center;
   margin-top:8px;
   div{
    line-height: 42px;
   }
  }
  .lb{
    float:left;
    margin-left:30px;
  }
  .rb{
    float: right;
    margin-right: 30px;
  }
  .text{
    color:#FF5B01;
    font-size:16px;
    width:48px;
    height:48px;
    background: url(../images/circle.png) no-repeat 3px 0px;
  }
}
//广告区
.adv{

}
.adv1{
  width:1519px;
  margin-left: -154.5px;
  background-color: #e0e0e0;
  margin-top:30px;
  .advbox{
    margin: 0 auto;
    width: 1210px;
    height: 140px;
    background-color: #e0e0e0;
    ul{
      width: 100%;
      height: 100%;
    }
    li{
      float: left;
      width: 25%;
      height: 100%;
      &:hover{
        background: rgba($color: #000000, $alpha:0.5);
      }
      a{
        display: inline-block;
        width: 100%;
        height: 100%;
      }
      
      img{
        width: 100%;
        height:100%;
      }
    }
    
  }
}
.adv2{
  margin: 20px 0 0 -50px;
  width: 1280px;
  height: 150px;
  a{
    width: 100%;
    height: 100%;
    display: block;
  }
}

// 楼层广告
// .floors{
  .floor_1{
    overflow: hidden;
    height: 540px;
  }
  .floor_2{
    height: 540px;
    overflow: hidden;
  }
  .floor_3{
    height: 540px;
    overflow: hidden;
  }
  .floor_4{
    height: 540px;
    overflow: hidden;
  }
  .floor_left{
    @include left();
    width: 215px;
    margin-top:30px;
    background-color: #ffffff;
  }
  .floor_name{
    font-family: '微软雅黑';
    height: 80px;
    width:100%;
    line-height: 80px;
    text-align:center;
    text-indent: 35px;
    background-color: #3c8d96;
    font-size: 22px;
    color: #fff;
  }
// } 
.floor_left{
  position: relative;
  h2{
    color: #333;
    font-family: '微软雅黑';
    font-weight: 400;
    font-size: 20px;
    display:block;
    line-height: 20px;
    position: relative;
    left: 0px;
    top: 0px;
    padding-left: 40px;
    padding-top: 0px;

      i{
        position: absolute;
        left: 0px;
        top: 0px;
        width: 48px;
        height: 49px;
        padding-right: 0px;
        line-height: 40px;
        color:#ffffff;;
        font-style:normal;
        text-align: center;
        overflow: hidden; 
        background: url(../images/flooricon-1.png) no-repeat;
        background-size: 100% 100%;
      }
    }
    .floor_img{
      img{
        display:block;
      }
    }
    .floor_text{
      ul{
        overflow: hidden;
        padding-top: 10px;
        padding-left: 11px;
      }
      li{
        width: 50%;
        border-bottom: 1px dotted #e4e4e4;
        // box-sizing: border-box;
        height: 30px;
        line-height: 30px;
        @include left();
      }
    }
  }
.floor_right{
  width: 995px;
  @include left();
  margin-top: 30px;
  background: #ffffff;
  .tab_title{
    width: 100%;
    overflow: hidden;
    ul{
      overflow: hidden;
      height: 40px;
      border: 1px solid #e2e2e2;
      border-left: none;
      box-sizing: border-box;
    }
    li{
      @include left();
      height: 40px;
      line-height: 40px;
      padding-right: 10px;
      text-align: center;
      a{
        display: block;
        height: 100%;
        padding: 0 5px;
        // &:hover{
        //   background:url("http://www.lab360.cn/image/indexneweight/libj.png") no-repeat;
        //   background-size: 100% 100%;        
        // }
      }
    }
    .active{
      background:url("http://www.lab360.cn/image/indexneweight/libj.png") no-repeat;
      background-size: 100% 100%;
      a{
        color: #FF5B01;
      }   
    }
  }
  .tab_content{
    width: 100%;
    overflow: hidden;
    ul{
      overflow: hidden;
      display: none;
    }
    li{
      @include left();
      width: 213px;
      height: 230px;
      padding: 4px 17px 0;
      border-bottom: 1px solid #ededed;
      border-right: 1px solid #ededed;
      a{
        display: block;
      }
      img{
        width: 130px;height: 130px;
      }
      .f_img{
        text-align: center;
      }
      .f_name{
        height: 36px;
        text-overflow:ellipsis;
        // overflow: hidden;
        -webkit-line-clamp: 2; 
        // white-space: nowrap;
        margin-bottom: 8px;
        a{
          height: 36px;
          word-break: break-all;
          text-overflow: ellipsis;
          display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
          -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
          -webkit-line-clamp: 2; /** 显示的行数 **/
          overflow: hidden; 
        }
      }
      .f_price{
        text-align: center;
        margin-left: 74px;
        width: 63px;
        border: 1px solid #ff2400;           
          a{
            &:hover{
              background: #fe2400;
              color:#ffffff;
            }              
          }
      }
      &:hover{
        img{
          transform: translateX(-5px);
        }
      }
    }
  }
}
// 发现好货
.findgoods{
  margin: 40px 0 20px 0px;
  height: 340px;
  .findgoods_top{
    height: 77px;
    background: url("http://www.lab360.cn/image/indexneweight/findgoodsbj.png") no-repeat;
    background-size: 100%;
  }
  .findgoodstext{
    font-family:' 微软雅黑';
    font-size: 19px;
    padding-left: 565px;
    display: block;
    height: 32px;
    line-height: 32px;
  }
  .findgoods_bottom{
    // background: #ffffff;
  }
  .findgoodsul{
    overflow: hidden;
    li{
      @include left();
      background: #ffffff;
    }
  }
  .findgoodsimg{
    width: 300px;
    height: 150px;
    border: 1px solid #dcdcdc;
    img{
      height: 130px;
      width: 130px;
      margin: 10px 78px;
    }
  }
  .findgoodscontent {
    width: 300px;
    border: 1px solid #dcdcdc;
    border-top: none;
  }
  .findgoodstitle {
    padding: 10px 10px 0 10px;
    display: block;
    font-family:'微软雅黑';
    height: 38px;
    overflow: hidden;
  }
  .findgoodsp{
    padding: 10px 0 0 20px;
    font-family: '微软雅黑';
    height: 52px;
    font-size: 12px;
    color: #bdbdbd;
    overflow: hidden;
    a{
        display: block;
        height: 100%;
        width: 100%;
      }
  } 
  
}