@charset "UTF-8";
.left {
  float: left;
}

.headertop_wrap {
  width: 100%;
  background: #e3e4e6;
  border-bottom: 1px solid #eee;
  line-height: 30px;
}

.headertop {
  width: 1210px;
  margin: 0 auto;
  line-height: 30px;
}
.headertop ul {
  float: right;
  height: 30px;
  overflow: visible;
}
.headertop ul:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.headertop ul li {
  float: left;
  list-style: none;
  width: 58px;
  height: 30px;
  padding: 0 11px 0 12px;
  text-align: center;
  position: relative;
}
.headertop ul li a {
  color: #666;
}

#topcontent .hlist b {
  position: absolute;
  background: url(../images/bg1.png) no-repeat;
  top: 13px;
  right: 0px;
  width: 7px;
  height: 4px;
  background-position: -95px -55px;
}

.headertop:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.fullwidth {
  width: 100%;
  margin: 0 auto;
}

#topcontent .header_wrapper {
  width: 1210px;
  margin: 15px auto;
  position: relative;
}

.headermid {
  height: 60px;
  position: relative;
}
.headermid .headermid_left {
  position: absolute;
  top: -46px;
  width: 201px;
  height: 169px;
  background: #fff;
  text-align: center;
  z-index: 10;
}
.headermid .headermid_mid {
  padding: 4px 0px 0 322px;
  position: relative;
}
.headermid .headermid_right {
  position: absolute;
  right: 148px;
  top: 4px;
  width: 178px;
  z-index: 11;
  background: #fff;
}

.headermid_left a {
  margin-top: 35px;
  margin-bottom: 10px;
  width: 200px;
  display: block;
  height: 57px;
}

.headermid_left a img {
  width: 100%;
  height: 100%;
}

.headermid_left .logotext {
  padding-top: 0px;
  width: 200px;
  text-align: center;
  font-size: 16px;
  color: #777777;
  background: #fff;
  z-index: 10;
}

.headermid_mid .searchbox {
  z-index: 11;
  width: 538px;
  height: 30px;
  margin-bottom: 3px;
  border: 1px solid #3391d7;
  position: relative;
}

.searchbox form {
  width: 538px;
  height: 30px;
  overflow: hidden;
  position: relative;
}

.searchbox .form .text {
  border: 0;
  width: 451px;
  height: 20px;
  padding: 5px;
  background-position: 0 -360px;
  background-color: #fff;
  background-repeat: repeat-x;
  line-height: 20px;
  color: #999;
  font-family: arial,"\5b8b\4f53";
  font-size: 12px;
}

.searchbox .fangdajing {
  border: 0;
  position: absolute;
  right: 47px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  background-image: url("../images/fdj.png");
  background-repeat: no-repeat;
  background-position: center;
}

.searchbox .button {
  border: 0;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 47px;
  height: 30px;
  background: #0076cd;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
}

.headermid_right .myshopcar {
  padding: 0 0 0 0px;
  width: 176px;
  height: 32px;
  border: 1px solid #E3E3E3;
  background: url(../images/car.png);
  background-repeat: no-repeat;
  background-position: 33px;
  position: relative;
  cursor: pointer;
}
.headermid_right .myshopcar .myshopcartext {
  position: absolute;
  left: 60px;
}
.headermid_right .myshopcar .shopping {
  position: absolute;
  right: 25px;
  top: 5px;
  height: 20px;
  width: 20px;
  background: red;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}
.headermid_right .myshopcar b {
  position: absolute;
  top: 9px;
  right: 4px;
  width: 0;
  height: 0;
  border-style: dashed dashed dashed solid;
  border-width: 5px;
  border-color: transparent transparent transparent #CCC;
  overflow: hidden;
  cursor: pointer;
}

#hotwords a {
  color: #999;
  margin-right: 10px;
  line-height: 20px;
}

#mainnav {
  width: 1210px;
  margin: 18px auto 0 auto;
  height: 45px;
}
#mainnav .nav_list {
  overflow: hidden;
  margin-left: 220px;
  line-height: 45px;
}
#mainnav .nav_list li {
  list-style: none;
  float: left;
  margin-left: 30px;
  font-size: 16px;
}
#mainnav .nav_list li a {
  color: #333;
  font-weight: 400;
}
#mainnav .nav_list li a:hover {
  color: #FF5B01;
}

#footercontent {
  width: 100%;
}
#footercontent a:hover {
  color: #FF5B01;
  text-decoration: none;
}

.footer_nav {
  width: 100%;
  background: #eaeaea;
  height: 104px;
  overflow: hidden;
}
.footer_nav ul {
  width: 1210px;
  margin: 20px auto;
  height: 68px;
  overflow: hidden;
}
.footer_nav li {
  float: left;
  width: 220px;
  overflow: hidden;
  margin-left: 20px;
  height: 68px;
  display: inline-block;
}
.footer_nav li .lab_service {
  height: 68px;
  width: 155px;
  overflow: hidden;
  position: relative;
  margin: 0px auto;
  padding-left: 45px;
}
.footer_nav li .lab_service .lab_service_safety {
  position: absolute;
  width: 38px;
  height: 43px;
  overflow: hidden;
  background-repeat: no-repeat;
  left: 0;
  top: 14px;
}
.footer_nav li .lab_service .lab_service_txt {
  width: 100%;
  overflow: hidden;
  display: block;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #444;
  height: 68px;
  line-height: 68px;
  font-size: 18px;
}

.footcon {
  width: 1100px;
  height: 95px;
  margin: 15px auto;
  overflow: hidden;
  padding-left: 180px;
}
.footcon dl {
  float: left;
  width: 250px;
  height: 95px;
  overflow: hidden;
}

.footcon .b_title {
  font: 400 16px/24px "microsoft yahei";
  color: #666;
}

.footcon .b_con a {
  color: #666;
}

.wrapper {
  width: 1210px;
  height: 125px;
  overflow: hidden;
  border-bottom: 1px solid #e4e4e4;
  margin: 0px auto;
}

.foot {
  text-align: center;
  padding-bottom: 10px;
  line-height: 22px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 10px;
}
.foot a {
  color: #666;
}
.foot p {
  text-align: center;
}
.foot .friend_link {
  padding: 4px 0;
}
.foot .friend_link span {
  color: black;
  font-size: 12px;
  font-weight: normal;
}
.foot .friend_link a {
  font-size: 12px;
  line-height: 27px;
  margin-right: 10px;
  margin-left: 10px;
  color: #147DCF;
  font-weight: normal;
}
.foot .links a {
  margin: 0 20px;
  color: #666;
}

#footercontent .friend_link a:hover {
  color: #147DCF;
}

#menu_left {
  width: 201px;
  background: rgba(56, 54, 53, 0.7);
  height: 471px;
}
#menu_left ul {
  padding-top: 5px;
}
#menu_left ul li {
  width: 201px;
  height: 83px;
  line-height: 33px;
  color: #ffffff;
}
#menu_left ul h3 {
  line-height: normal;
  font-size: 14px;
  font-weight: 400;
  margin: 5px,0 0 0;
  float: left;
  margin-left: 5px;
}
#menu_left ul i {
  display: block;
  float: right;
  margin-right: 15px;
  font: 400 9px/14px consolas;
  margin-top: 7px;
  cursor: pointer;
}
#menu_left ul p {
  line-height: 24px;
  text-indent: 0;
  width: 165px;
  margin-left: 12px;
  height: 50px;
  overflow: hidden;
}
#menu_left ul p a {
  color: #ffffff;
}
#menu_left ul p em {
  font-style: normal;
}
#menu_left .lastpt {
  margin-left: 15px;
}
#menu_left ul li:hover {
  color: #333333;
  background: #ffffff;
}
#menu_left ul li:hover a {
  color: #333333;
}
#menu_left ul li:hover i {
  display: none;
}

html, body {
  width: 100%;
}

li {
  list-style: none;
}

body {
  font-size: 12px;
  font-family: '微软雅黑';
  background: #f6f6f6;
}

a {
  text-decoration: none;
  color: #333333;
}

#topcontent a:hover {
  color: #FF5B01;
}

#main_content a:hover {
  color: #FF5B01;
}

.wrapper {
  width: 1210px;
  margin: 0 auto;
}

.clear {
  clear: both;
  margin: 0;
  padding: 0;
}

#leftnav {
  position: fixed;
  z-index: 10;
  width: 36px;
  background-color: #777777;
  left: 94.6px;
  display: block;
}
#leftnav .leftnav_item {
  width: 36px;
  border-top: 1px solid #b1aaaa;
}
#leftnav .leftnav_item:hover {
  background: #fe2400;
  border-top-color: #fe2400;
}
#leftnav .leftnav_item .topbtn_arrow {
  display: block;
  width: 0;
  height: 0;
  margin: auto;
  border-style: solid;
  border-width: 4px;
  border-color: #5e4a4a #5e4a4a #fff;
}
#leftnav .leftnav_item_top {
  height: 42px;
  text-align: center;
  background: #5e4a4a;
}

#banner {
  background: lightcoral;
  position: absolute;
  height: 471px;
  width: 100%;
  overflow: hidden;
}

#main_content {
  width: 1210px;
  margin: 0 auto;
}
#main_content:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
#main_content .select_sort {
  margin-top: 30px;
}
#main_content .select_brands {
  margin-top: 30px;
}
#main_content .floors {
  width: 1210px;
  margin: 0 auto;
  background: lightyellow;
}
#main_content .adv {
  background: green;
}

.select_sort .sort_foot {
  height: 507px;
}
.select_sort .sort_foot .sort_left {
  float: left;
  margin-left: 0px;
  margin-right: 0px;
  width: 462px;
  overflow: hidden;
}
.select_sort .sort_foot .sort_left .left_t {
  height: 247px;
  margin-bottom: 13px;
}
.select_sort .sort_foot .sort_left .left_f {
  height: 247px;
}
.select_sort .sort_foot .sort_right {
  float: left;
  margin-left: 10px;
  margin-right: 0px;
  width: 738px;
}
.select_sort .sort_foot .sort_right ul {
  width: 100%;
}
.select_sort .sort_foot .sort_right ul li {
  width: 240px;
  height: 250px;
  float: left;
  margin-left: 0;
  margin-right: 6px;
  margin-bottom: 10px;
}

.sort_top {
  height: 40px;
  margin-bottom: 10px;
  line-height: 40px;
}
.sort_top span {
  padding-left: 10px;
  font-size: 16px;
  font-family: '微软雅黑';
  color: #6a6868;
}
.sort_top .more a {
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  color: #6a6868;
}

.icon {
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  color: #000;
  background: url(../images/selece_sort.png);
  background-repeat: no-repeat;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
}

#brandsicon {
  background: url(../images/brandsicon.png) no-repeat;
  background-size: 100% 100%;
}

.select_brands {
  overflow: hidden;
}
.select_brands .brands_foot {
  background: pink;
}
.select_brands .brands_left {
  float: left;
  margin-left: 0px;
  margin-right: 0px;
  width: 202px;
  height: 299px;
  background: url(../images/brandsbj.png);
}
.select_brands .brands_left .brandstext {
  width: 172px;
  margin: 13px;
  height: 270px;
  border: 2px solid #fff;
  text-align: center;
}
.select_brands .brands_center {
  width: 840px;
  height: 299px;
  background: black;
  float: left;
  margin-left: 0px;
  margin-right: 0px;
  margin-left: 4px;
}
.select_brands .brands_right {
  float: left;
  margin-left: 0px;
  margin-right: 0px;
}
.select_brands .brands_right a {
  display: block;
}
.select_brands .brands_right img {
  display: block;
}

#main_menu {
  width: 1210px;
  height: 471px;
  position: absolute;
  top: 169px;
  z-index: 2;
}

#menu_left, #menu_center, #menue_right {
  float: left;
  margin-left: 0px;
  margin-right: 0px;
}

#menu_right {
  width: 200px;
  position: absolute;
  right: 0;
  top: 0;
  height: 471px;
  background: rgba(255, 255, 255, 0.95);
}
#menu_right .row1 {
  height: 120px;
}
#menu_right .row1 .touxiang {
  float: left;
  margin-left: 0px;
  margin-right: 0px;
  width: 60px;
  height: 60px;
  margin: 10px 0 0 0;
}
#menu_right .row1 .touxiang img {
  margin-left: 10px;
}
#menu_right .row1 .gerenxinxi {
  float: left;
  margin-left: 0px;
  margin-right: 0px;
  margin: 15px 0 0 20px;
  width: 111px;
  float: left;
  font-family: '微软雅黑';
  font-size: 12px;
  color: #999999;
  line-height: 21px;
  overflow: hidden;
}
#menu_right .row1 .loginregin {
  height: 30px;
  padding-top: 0px;
  margin: 10px 0 0 13px;
}
#menu_right .row1 .loginregin span {
  display: inline-block;
  border: 1px solid;
  padding: 1px 2px 1px 1px;
  width: 80px;
  line-height: 20px;
  text-align: center;
  color: #FF5B01;
  border-color: #FF5B01;
  background: #ffffff;
  border-width: 1px;
  border-radius: 3px;
}
#menu_right .row1 .loginregin span:hover {
  color: #ffffff;
  background-color: #FF5B01;
}
#menu_right .row2 {
  height: 200px;
  border-bottom: 1px solid #e6e6e6;
}
#menu_right .row3 {
  height: 150px;
}

#leftnav {
  text-align: center;
}
#leftnav .left_navbtn {
  padding: 10px 5px;
  display: block;
  line-height: 14px;
  text-align: center;
  color: #fefefe;
  transition: color .1s;
}

.row2_tab {
  padding-left: 2px;
  width: 100%;
  height: 20px;
  font-family: '微软雅黑';
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
}
.row2_tab li {
  float: left;
  margin-left: 0px;
  margin-right: 0px;
}
.row2_tab .li1 {
  width: 30%;
  padding: 0 2px;
  text-align: center;
}
.row2_tab .li1:hover {
  cursor: pointer;
  border-bottom: 1px solid #FF5B01;
}

.row3 .smallbox {
  text-align: center;
  margin-top: 8px;
}
.row3 .smallbox div {
  line-height: 42px;
}
.row3 .lb {
  float: left;
  margin-left: 30px;
}
.row3 .rb {
  float: right;
  margin-right: 30px;
}
.row3 .text {
  color: #FF5B01;
  font-size: 16px;
  width: 48px;
  height: 48px;
  background: url(../images/circle.png) no-repeat 3px 0px;
}

.adv {
  width: 1519px;
  margin-left: -154.5px;
}
.adv .advbox {
  margin: 0 auto;
  width: 1210px;
  height: 140px;
  background-color: #e0e0e0;
}
.adv .advbox ul {
  width: 100%;
  height: 100%;
}
.adv .advbox li {
  float: left;
  width: 25%;
  height: 100%;
}
.adv .advbox li:hover {
  background: rgba(0, 0, 0, 0.5);
}
.adv .advbox li a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.adv .advbox li img {
  width: 100%;
  height: 100%;
}

.floors .floor_1 {
  overflow: hidden;
}
.floors .floor_2 {
  overflow: hidden;
}
.floors .floor_left {
  float: left;
  margin-left: 0px;
  margin-right: 0px;
  width: 215px;
  margin-top: 30px;
}
.floors .floor_name {
  font-family: '微软雅黑';
  height: 80px;
  width: 100%;
  line-height: 80px;
  text-align: center;
  text-indent: 35px;
  background-color: #3c8d96;
  font-size: 22px;
  color: #fff;
}

.floor_left {
  position: relative;
}
.floor_left h2 {
  color: #333;
  font-family: '微软雅黑';
  font-weight: 400;
  font-size: 20px;
  display: block;
  line-height: 20px;
  position: relative;
  left: 0px;
  top: 0px;
  padding-left: 40px;
  padding-top: 0px;
}
.floor_left h2 i {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 48px;
  height: 49px;
  padding-right: 0px;
  line-height: 40px;
  color: #ffffff;
  font-style: normal;
  text-align: center;
  overflow: hidden;
  background: url(../images/flooricon-1.png) no-repeat;
  background-size: 100% 100%;
}
.floor_left .floor_img img {
  display: block;
}
.floor_left .floor_text ul {
  overflow: hidden;
  padding-top: 10px;
  padding-left: 11px;
}
.floor_left .floor_text li {
  width: 50%;
  border-bottom: 1px dotted #e4e4e4;
  height: 30px;
  line-height: 30px;
  float: left;
  margin-left: 0px;
  margin-right: 0px;
}

.floor_right {
  width: 995px;
  float: left;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 30px;
}
.floor_right .tab_title {
  width: 100%;
}
.floor_right .tab_title {
  width: 100%;
  overflow: hidden;
}
.floor_right .tab_title ul {
  overflow: hidden;
  height: 40px;
  border: 1px solid #e2e2e2;
  border-left: none;
  box-sizing: border-box;
}
.floor_right .tab_title li {
  float: left;
  margin-left: 0px;
  margin-right: 0px;
  height: 40px;
  line-height: 40px;
  padding-right: 10px;
  text-align: center;
}
.floor_right .tab_content {
  width: 100%;
  overflow: hidden;
}
.floor_right .tab_content ul {
  overflow: hidden;
}
.floor_right .tab_content li {
  float: left;
  margin-left: 0px;
  margin-right: 0px;
  width: 213px;
  height: 230px;
  padding: 4px 17px 0;
  border-bottom: 1px solid #ededed;
  border-right: 1px solid #ededed;
}
.floor_right .tab_content li a {
  display: block;
}
.floor_right .tab_content li img {
  width: 130px;
  height: 130px;
}
.floor_right .tab_content li .f_img {
  text-align: center;
}
.floor_right .tab_content li .f_price {
  text-align: center;
}

/*# sourceMappingURL=index.css.map */
