@charset "utf-8";
/* CSS Document */
html,body,ul,li,ol,dl,dd,dt,th,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,textarea{margin:0;padding:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal}
ul,ol{list-style:none}
input{padding-top:0;padding-bottom:0;font-family:"SimSun","宋体"}
input::-moz-focus-inner{border:0;padding:0}
select,input{vertical-align:middle}
select,input,textarea{font-size:12px;margin:0}
input[type="text"],input[type="password"],textarea{outline-style:none;-webkit-appearance:none}
textarea{resize:none}
table{border-collapse:collapse}
body{color:#333;font:12px/20px "微软雅黑";}
.clear:after{content:".";display:block;height:0;visibility:hidden;clear:both}
.clearfix{zoom:1}
.clearit{clear:both;height:0;font-size:0;overflow:hidden}
.left{float:left;_display:inline}
.right{float:right;_display:inline}
a{color:#666;text-decoration:none}
a:visited{color:#666}
a:hover,a:active,a:focus{color:#f00;text-decoration:none}
.hidden{visibility:hidden}
